
// Page Layout/Stylings

.flex-all {
    display: flex;
}

.about-willow-blog,
.recent-posts-blog,
.main-blog-section,
.comment-one,
.comment-two {
    background: white;
}

.about-willow-blog,
.recent-posts-blog {
    width: 90%;
}

// Aside

.image-div {
    width: 100%;

    img {
        width: 100%;
    }
}

.about-willow-blog {
    margin-top: 20%;
    padding: 7%;

    a {
        color: $picture-accent-color;
        font-weight: bold;

        &:hover {
            color: $secondary-color;
        }
    }
}

.recent-posts-blog {
    margin-top: 3%;
    padding: 3% 3% 5% 3%;

    h4 {
        padding-left: 5%;
        margin: 10px 10px 10px 0;
    }

    li {
        list-style-type: disc;
        line-height: 25px;

        a {
            color: $text;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}


// Main Blog Section

.main-blog-section {
    margin: 8% 0 6% 0;
    padding: 3%;
    border-bottom: 5px solid $picture-accent-color;
}

// Comments

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3%;

    p {
        margin: 5px 5px 0 0;
    }
}

.comment-one-post,
.comment-two-post {
    padding: 15px 5px 15px 5px;
}

.comment-pic {
    width: 30%;
    padding: 20px;

    img {
        width: 100%;
    }
}

.comment-two {
    border-bottom: 5px solid $picture-accent-color;
}