
// Header 

.header-contact-me {
    background: url(../willow-assets/contact-image-1.jpg);
}

// Aside 

.fab {
    color: $main-dark;
    font-size: 25px;
}

.aside-contact-me ul{
    display: flex;
}

.aside-contact-me {
    width: 25%;
}