
// General

.flexed-field {
    display: flex;
}

input {
    font-family: $font-menu-body;
    border: none;
    padding: 15px 20% 15px 15px;
}


// Contact

.contact-form {
    margin-top: 10%;

}

// Blog