
// Header Styles

// General Styles

h1,
h2 {
    font-family: $font-headings-buttons;
    color: $background-color;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

nav {
    background: $main-dark;
    letter-spacing: 1px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        li a {
            text-transform: uppercase;
            font-family: $font-menu-body;
            color: $background-color;
            font-weight: bold;
            margin: 20px;
            font-size: 20px;
        }
    }
}

// Home Styles

.header-home {
    background: $main-dark;

    h1 {
        font-size: 140px;
        letter-spacing: 1px;
        line-height: 92px;
    }

    h2 {
        margin: 0;
        font-size: 32px;
    }
}

.willow-header {
    display: flex;
    justify-content: flex-end;
}

// Blog Styles

.header-blog {
    background: url(../willow-assets/blog-image-1.jpg);
}


// Footer
footer {
    background: $text;

    h5 {
        color: $background-color;
    }
}