
// General Page Styles

.about-section,
.journey-section,
.contact-section {
    background: $background-color;
}

.about-section h3,
.journey-section h3 {
    font-size: 30px;
}


// Who's Willow 
.about-section {
    text-align: center;
    padding: 5% 0 10% 0;

    h3 {
        margin-top: 0;
    }

    p {
        padding-bottom: 1%;
    }
}

// Main Blog
h4 {
    font-size: 24px;
}

// Full Bleed Photo

.full-bleed-photo img {
    width: 100%;
}

// Gallery

.gallery-div {
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    padding: 0;

    img {
        width: 95%;
    }
}

// Contact Section

.contact-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-photos,
.about-contact,
.blog-contact,
.contact-me-contact {
    width: 45%;

    p {
        margin-left: 13.5%;
        margin-top: 10px;
    }
}

.fas {
    background: $secondary-color;
    border-radius: 50%;
    padding: 13px;
    margin-top: 5%;
}

.label {
    display: flex;

    h4 {
        margin: 0;
        padding: 7% 0 0 5%;
    }
}

.contact-photos,
.about-contact {
    margin-top: 3%;
}

.contact-me-contact,
.blog-contact {
    margin-bottom: 3%;
}