// Colours
$main-dark: #345231;
$secondary-color: #E4A436;
$picture-accent-color: #709B6B;
$text: #1F1F1F;
$background-color: #F6F6F6;

// Fonts

$font-headings-buttons: 'Abril Fatface', cursive;
$font-menu-body: 'Montserrat', sans-serif;

$menu-button-body-size: 20px;