html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body p {
  line-height: 30px;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

h3,
h4,
h5 {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #E4A436;
}

button,
.button-submit {
  border: none;
  text-transform: uppercase;
  background: #E4A436;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  padding: 15px 20px;
}

.body-blog,
.body-contact-me {
  background: #F6F6F6;
}

h1,
h2 {
  font-family: "Abril Fatface", cursive;
  color: #F6F6F6;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
}

nav {
  background: #345231;
  letter-spacing: 1px;
}

nav h2 {
  margin: 3%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

nav ul li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #F6F6F6;
  font-weight: bold;
  margin: 20px;
  font-size: 16px;
}

.hamburger {
  display: none;
}

.header-home {
  background: #345231;
}

.header-home h1 {
  font-size: 120px;
  letter-spacing: 1px;
  line-height: 92px;
}

.header-home h2 {
  margin: 0;
  font-size: 32px;
}

.willow-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
  width: 30%;
  position: absolute;
  right: 10%;
  top: 20%;
}

.header-title-container {
  width: 70%;
  position: relative;
}

.header-title-container .header-subtitle {
  width: 20%;
  position: absolute;
  right: 90%;
  top: -45%;
}

.header {
  width: 100%;
}

.move-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90vh;
}

.header-pages {
  height: 53vh;
  background-position: bottom;
}

.header-pages h1 {
  margin-top: 38.5vh;
  font-size: 80px;
}

.header-blog {
  background: url(../willow-assets/blog-image-1.jpg);
}

.header-contact-me {
  background: url(../willow-assets/contact-image-1.jpg);
}

footer {
  background: #1F1F1F;
  text-align: center;
}

footer h5 {
  color: #F6F6F6;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}

.about-section,
.journey-section,
.contact-section {
  background: #F6F6F6;
}

.about-section h3,
.journey-section h3 {
  font-size: 30px;
}

.about-section {
  text-align: center;
  padding: 5% 0 10% 0;
}

.about-section h3 {
  margin-top: 0;
}

.about-section p {
  padding-bottom: 1%;
}

h4 {
  font-size: 24px;
}

.favourite-things-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.favourite-things-div .fav-things-pic {
  width: 50%;
  position: absolute;
  left: 0;
  top: -15%;
}

.favourite-things-div .fav-things-pic img {
  width: 100%;
  -webkit-box-shadow: 20px 20px #709B6B, -150px 20px #709B6B;
          box-shadow: 20px 20px #709B6B, -150px 20px #709B6B;
}

.favourite-things-post {
  width: 50%;
  padding: 3.75% 0 5% 5%;
}

.bucket-list-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 1%;
}

.bucket-list-div .bucket-list-pic {
  width: 40%;
  position: absolute;
  right: 10%;
}

.bucket-list-div .bucket-list-pic img {
  width: 100%;
  -webkit-box-shadow: 20px 20px #345231, 150px 20px #345231;
          box-shadow: 20px 20px #345231, 150px 20px #345231;
}

.bucket-list-post {
  text-align: right;
  width: 50%;
  padding: 0 3.75% 5% 7%;
}

.bucket-list-post h4 {
  margin-top: 0;
}

.full-bleed-photo img {
  width: 100%;
}

.gallery-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3% 0;
  padding: 0;
}

.gallery-div img {
  width: 95%;
}

.willows-journey-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 0 7% 0;
}

.willows-journey-post {
  width: 70%;
  margin-left: 7%;
  padding-top: 2%;
}

.journey-pic {
  padding-top: 5%;
}

.journey-pic img {
  width: 90%;
  -webkit-box-shadow: 20px 20px #709B6B;
          box-shadow: 20px 20px #709B6B;
}

.contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-photos,
.about-contact,
.blog-contact,
.contact-me-contact {
  width: 45%;
}

.contact-photos p,
.about-contact p,
.blog-contact p,
.contact-me-contact p {
  margin-left: 13.5%;
  margin-top: 10px;
}

.fas {
  background: #E4A436;
  border-radius: 50%;
  padding: 13px;
  margin-top: 5%;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label h4 {
  margin: 0;
  padding: 7% 0 0 5%;
}

.contact-photos,
.about-contact {
  margin-top: 3%;
}

.contact-me-contact,
.blog-contact {
  margin-bottom: 3%;
}

.flex-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-willow-blog,
.recent-posts-blog,
.main-blog-section,
.comment-one,
.comment-two {
  background: white;
}

.about-willow-blog,
.recent-posts-blog {
  width: 90%;
}

.image-div {
  width: 100%;
}

.image-div img {
  width: 100%;
}

.about-willow-blog {
  margin-top: 20%;
  padding: 7%;
}

.about-willow-blog a {
  color: #709B6B;
  font-weight: bold;
}

.about-willow-blog a:hover {
  color: #E4A436;
}

.recent-posts-blog {
  margin-top: 3%;
  padding: 3% 3% 5% 3%;
}

.recent-posts-blog h4 {
  padding-left: 5%;
  margin: 10px 10px 10px 0;
}

.recent-posts-blog li {
  list-style-type: disc;
  line-height: 25px;
}

.recent-posts-blog li a {
  color: #1F1F1F;
}

.recent-posts-blog li a:hover {
  color: #E4A436;
}

.main-blog-section {
  margin: 8% 0 6% 0;
  padding: 3%;
  border-bottom: 5px solid #709B6B;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3%;
}

.comment p {
  margin: 5px 5px 0 0;
}

.comment-one-post,
.comment-two-post {
  padding: 15px 5px 15px 5px;
}

.comment-pic {
  width: 30%;
  padding: 20px;
}

.comment-pic img {
  width: 100%;
}

.comment-two {
  border-bottom: 5px solid #709B6B;
}

.fab {
  color: #345231;
  font-size: 25px;
  letter-spacing: 30px;
}

.aside-contact-me ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-contact-me ul a {
  color: #1F1F1F;
}

.aside-contact-me ul a:hover {
  color: #E4A436;
}

.aside-contact-me {
  width: 25%;
  background: white;
  margin: 5% 3% 5% 10%;
}

.contact-info-div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5%;
}

.contact-info-div ul li:first-of-type {
  font-weight: bold;
  padding: 20px 0;
}

.contact-info-div ul li {
  padding: 1%;
}

.icons-div {
  padding-top: 5%;
}

.together-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-form {
  margin-bottom: 30vh;
}

.flexed-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  width: 50%;
}

.flexed-field input {
  padding-right: 3%;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border: none;
  padding: 15px 8% 15px 10px;
}

input:first-of-type {
  margin-right: 15px;
}

.message {
  width: 100%;
  margin-bottom: 10px;
}

.message input {
  width: 100%;
  height: 40%;
  padding: 15px 70% 40% 15px;
}

.button-submit {
  padding: 3% 43%;
}

.contact-form {
  margin-top: 15%;
  width: 100%;
}

.flexed-field-blog {
  width: 100%;
  height: 100%;
}

.flexed-field-blog input {
  margin-bottom: 20px;
}

@media (max-width: 1255px) {
  .header-home h1 {
    font-size: 90px;
  }
  .header-title-container .header-subtitle {
    top: -20%;
  }
}

@media (max-width: 925px) {
  .move-me {
    height: 70vh;
  }
  .header-home h1 {
    font-size: 80px;
  }
  .willow-header {
    width: 30%;
    right: 10%;
    top: 10%;
  }
  .favourite-things-div {
    display: block;
  }
  .favourite-things-div .fav-things-pic {
    top: -10%;
    left: 25%;
  }
  .favourite-things-div .fav-things-pic img {
    -webkit-box-shadow: 20px 20px #709B6B, -300px 20px #709B6B;
            box-shadow: 20px 20px #709B6B, -300px 20px #709B6B;
  }
  .favourite-things-post,
  .bucket-list-post {
    padding-top: 35%;
    width: 100%;
    text-align: center;
  }
  .bucket-list-div {
    display: block;
  }
  .bucket-list-div .bucket-list-pic {
    right: 28%;
  }
  .bucket-list-div .bucket-list-pic img {
    -webkit-box-shadow: 20px 20px #345231, 300px 20px #345231;
            box-shadow: 20px 20px #345231, 300px 20px #345231;
  }
  .together-flex {
    display: block;
  }
  .contact-form {
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .aside-contact-me {
    width: 70%;
    margin-left: 20%;
  }
  .header-contact-me h1 {
    font-size: 60px;
  }
}

@media (max-width: 835px) {
  .move-me {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 60vh;
  }
  .header-title-container {
    padding-left: 20%;
  }
  .header-title-container .header-subtitle {
    right: 60%;
  }
  .willow-header {
    top: 30%;
    right: 40%;
    width: 20%;
  }
  .favourite-things-div .fav-things-pic img {
    -webkit-box-shadow: 20px 20px #709B6B, -300px 20px white;
            box-shadow: 20px 20px #709B6B, -300px 20px white;
  }
  .favourite-things-post,
  .bucket-list-post {
    padding-top: 30%;
    width: 100%;
    text-align: center;
  }
  .bucket-list-div {
    display: block;
  }
  .bucket-list-div .bucket-list-pic {
    right: 28%;
  }
  .bucket-list-div .bucket-list-pic img {
    -webkit-box-shadow: 20px 20px #345231, 300px 20px white;
            box-shadow: 20px 20px #345231, 300px 20px white;
  }
  .willows-journey-div {
    display: block;
  }
  .journey-pic img {
    width: 40%;
    margin-left: 30%;
  }
  .willows-journey-post {
    text-align: center;
    margin-left: 20%;
  }
  .header-blog h1 {
    font-size: 70px;
  }
  .message input {
    width: 60%;
    height: 40%;
    padding: 15px 50% 40% 15px;
  }
}

@media (max-width: 650px) {
  .contact-photos,
  .about-contact,
  .blog-contact,
  .contact-me-contact {
    width: 100%;
  }
  .willow-header {
    width: 30%;
  }
  .header-title-container .header-subtitle {
    width: 30%;
    right: 60%;
  }
  .header-home h1 {
    font-size: 60px;
  }
  .hamburger {
    display: inline-block;
    margin-left: 5%;
  }
  .hide-me {
    display: none;
  }
  .header-blog h1 {
    font-size: 50px;
  }
}

@media (max-width: 530px) {
  .about-section {
    padding-bottom: 20%;
  }
  .contact-form {
    width: 50%;
    margin-left: 0;
    margin-bottom: 10%;
  }
  .flexed-field {
    display: block;
  }
  .header-contact-me h1 {
    font-size: 40px;
  }
}

@media (max-width: 405px) {
  .header-home h1 {
    font-size: 30px;
  }
}
